form {
  font-family: "Open Sans",sans-serif;
  font-size: 13px;
  background-color: none;
  color: #4a4a4a;
}

.clickable-div 
{
     cursor: pointer;
}

select{
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 50%;
  
  
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-border-radius: 4px;
    appearance: none;
    outline-width: 0;
    
    padding: 2px 2px 2px 5px;
    width: 8em;
    border: none;    
    border: 1px solid #ddd;
  }

.ui-datepicker table tbody .ui-datepicker-week-col {
    cursor: pointer;
    color: red
  }

  #yearForm {
      padding-bottom: 10px;
      width: 379px;
  }

  #yearTitle {
      font-weight: bold;
      font-size: 16px;
      margin-left: 5px;
  }

  #datesDiv {
      float: right;
      margin-top: -2px;
  }

  .darkbg {
      background-color: #0f411ad0;
      color: black;
  }

  .whitebg {
      background-color: white;
      color: #4a4a4a;
  }

  #choosenWeekCSS {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 120px;
    padding: 3px;
    margin: 0px;
    text-align: center;
  }

  table {
    border-collapse: collapse;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: #4a4a4a;
  }
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th{
    width: 20px;
    height: 20px;;
  }

  /* .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 2px; */
  
    /* Position the tooltip */
    /* position: absolute;
    z-index: 1;
    margin-left: 20px;
  } */
  
  /* .tooltip:hover .tooltiptext {
    visibility: visible;
  } */